body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.markdown-body pre {
  background-color: #282C34;
}

.toast {
  z-index: 8000;
}

table thead th {
  text-align: center;
}

.text-center {
  text-align: center;
}

.atcoder-red {
  color: #ff0000;
}
.atcoder-orange {
  color: #ff8000;
}
.atcoder-yellow {
  color: #c0c000;
}
.atcoder-blue {
  color: #0000ff;
}
.atcoder-cyan {
  color: #00c0c0;
}
.atcoder-green {
  color: #008000;
}
.atcoder-brown {
  color: #804000;
}
.atcoder-grey {
  color: #808080;
}

.codeforces-red {
  color: #ff0000;
}
.codeforces-orange {
  color: #ff8c00;
}
.codeforces-violet {
  color: #aa00aa;
}
.codeforces-blue {
  color: #0000ff;
}
.codeforces-cyan {
  color: #03a89e;
}
.codeforces-green {
  color: #008000;
}
.codeforces-grey {
  color: #808080;
}

.yukicoder-red {
  color: #ff0000;
}
.yukicoder-orange {
  color: #ff8000;
}
.yukicoder-yellow {
  color: #c0c000;
}
.yukicoder-blue {
  color: #0000ff;
}
.yukicoder-cyan {
  color: #00c0c0;
}
.yukicoder-green {
  color: #008000;
}
.yukicoder-brown {
  color: #804000;
}
.yukicoder-grey {
  color: #808080;
}

.leetcode-easy {
  color: #5cb85c;
}
.leetcode-medium {
  color: #f0ad4e;
}
.leetcode-hard {
  color: #d9534f;
}

.difficulty-none {
  color: #4080d2;
}

.tablecell-success {
  background-color: #c3e6cb;
}
.tablecell-warning {
  background-color: #ffeeba;
}
.tablecell-note {
  background-color: #dbe2f5;
}